<h1>Персональная информация</h1>
<div class="avatar"><%= image_tag(current_user.avatar.url) %></div>
<p><%= current_user.username %>
</p>
<p><%= current_user.first_name %> <%= current_user.last_name %>
</p>
<p><%= current_user.email %>
</p>
<p><%= current_user %>
<p><%= link_to "Edit", edit_user_registration_path %>	|	<%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
</p>
