<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
<div class="shapka">

<div id="krug" style="position:absolute; height: 63px; width:150px; top:0px; left: 50px; font-size: 20pt; color: white;">

<p align="center" style="font-size:24pt;">Fogblog</p>

</div>
<div id='menuholder'>
<div id='cssmenu'>
<ul>
   <li class='active'><a href='/static_pages/home'><span>Home</span></a></li>
   <li><a href='/static_pages/help'><span>Help</span></a></li>
   <li><a href='/static_pages/about'><span>About</span></a></li>
   <li class='contacts'><a href='/static_pages/contacts'><span>Contact</span></a></li>
</ul>
</div>
</div>


</div></div>
<div class="content">
<%= yield %>
<!--<%= image_tag("bg-clouds.png") %>-->
</div>
<div class="footer">
<p align="center">fogfreek@gmail.com</p>
</div>
</div>
</body>
</html>
