<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="shapka">
<div id="krug" style="position:absolute; height: 150px; width:150px; top:10px; left: 10px; font-size: 24pt; color: white;">

<br><br><br><br>
&nbsp;Fogblog
<p>&nbsp;&nbsp;&nbsp;&nbsp;herokuapp.com</p>

</div>
<div id="krug" style="position: absolute; height: 150px; width:150px; top:10px; left: 180px; font-size: 24pt; color: red;"></div>
<div class="content">
<%= yield %>
</div>
<div class="footer">
<p align="center"><h1>fogfreek@gmail.com</h1></p>
</div>
</body>
</html>
